<div draggable="true" ngClass="{{dragAreaClass}}">
	<div class="row">
		<div class="col-md-12 text-center">
			Drag files here
			<a href="javascript:void(0)" (click)="file.click()">
				or click to open
			</a>
			<input type="file"
                   #file
                   [multiple]="true"
                   (change)="onFileChange($event)"
                   style="display:none" />
        </div>
		</div>
	</div>
	<div class="error" *ngIf="error">
		Only five files at time allow
	</div>
    <div>

    </div>
	<!-- <div class="text-center">
		<input class="form-control" type="file"
				(change)="onChange($event)" multiple>
	
		<button (click)="onUpload()"
			class="btn btn-success">
			Upload
		</button>
	</div> -->
	
	<!-- Shareable short link of uoloaded file -->
	<!-- <div class="container text-center jumbotron"
		*ngIf="shortLink">
		<h2> Visit Here</h2>
		<a href="{{shortLink}}">{{shortLink}}</a>
	</div> -->
	
	<!--Flag variable is used here-->
	<!-- <div class="container" *ngIf="loading">
		<h3>Loading ...</h3>
	</div> -->
	