<div draggable="true" ngClass="{{dragAreaClass}}">
	<div class="row">
		<div class="col-md-12 text-center">
			Drag files here
			<a href="javascript:void(0)" (click)="file.click()">
				or click to open
			</a>
			<input type="file"
                   #file
                   [multiple]="true"
                   (change)="onFileChange($event)"
                   style="display:none" />
        </div>
		</div>
	</div>
	<div class="error" *ngIf="error">
		Only five files at time allow
	</div>
    <div>

    </div>